* {
  box-sizing: border-box;
}

.Container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/random-no-generator-bg.png');
  background-size: cover;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08),
    0px 12px 32px rgba(0, 0, 0, 0.06);
  height: 60vh;
  width: 25vw;
  background-color: #ffffff;
  border-radius: 20px;
}

.heading {
  color: #0b69ff;
  font-family: 'roboto';
}

.description {
  font-family: 'roboto';
  color: #333333;
}

.btn {
  padding: 5px;
  color: #ffffff;
  background-color: #0b69ff;
  border: 2px solid transparent;
  border-radius: 5px;
}
